apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: "{{ prometheus_url }}"  # Use an Ansible variable to set Prometheus URL
    isDefault: true
    editable: true

{% if additional_datasources is defined %}
{% for datasource in additional_datasources %}
  - name: "{{ datasource.name }}"
    type: "{{ datasource.type }}"
    access: "{{ datasource.access | default('proxy') }}"
    url: "{{ datasource.url }}"
    isDefault: "{{ datasource.isDefault | default(false) }}"
    editable: "{{ datasource.editable | default(true) }}"
{% endfor %}
{% endif %}